<div layout="row" style="min-height: 100%">
  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
              md-component-id="left"
              ng-click="toggleList()" aria-label="Show Menu List"
              md-is-locked-open="$mdMedia('gt-md')">

    <md-toolbar class="md-whiteframe-z1">
      <h3>Menu</h3>
    </md-toolbar>

    <md-list>
      <md-list-item ng-repeat="item in menu">
        <md-button ng-click="selectUser(item)" ng-class="{'md-primary' : item.url === selected.url }">
          <md-icon md-svg-icon="{{item.avatar}}" class="avatar"></md-icon>
          {{item.name}}
        </md-button>
      </md-list-item>
    </md-list>

  </md-sidenav>

  <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-toolbar layout="row" class="md-whiteframe-z1" layout-align="end center">
      <md-button id="main" class="menu" hide-gt-md ng-click="toggleList()" aria-label="Show Menu List">
        <md-icon md-svg-icon="menu"></md-icon>
      </md-button>
      <h3>Workflow App</h3>
      <span>Przemyslaw</span>
      <md-button class="md-icon-button" aria-label="Workflow library">
        <md-tooltip md-direction="bottom">
          Workflow Library
        </md-tooltip>
        <md-icon md-svg-icon="widgets"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Notifications">
        <md-tooltip md-direction="bottom">
          Notifications
        </md-tooltip>
        <md-icon md-svg-icon="notification"></md-icon>
      </md-button>
      <md-button class="md-fab md-mini" aria-label="Account settings">
        <md-tooltip md-direction="bottom">
          Account Settings
        </md-tooltip>
        <md-icon md-svg-icon="account"></md-icon>
      </md-button>
      <md-button ng-click="logout()" class="md-icon-button" aria-label="Logout">
        <md-tooltip md-direction="bottom">
          Logout
        </md-tooltip>
        <md-icon md-svg-icon="logout"></md-icon>
      </md-button>
    </md-toolbar>

    <md-content flex id="content" layout-padding>
      <ui-view></ui-view>
    </md-content>

  </div>
</div>
