/* Toolbar area */

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar {
  h3 {
    margin: auto;
    font-weight: 500;
  }
  &.wf-top { min-height: 56px; }
}

/* Sidenav area */

/* Primary content area */

#content  {
  max-height: calc(100% - 56px);
  overflow: scroll;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}
